/* line 1, /Users/jessicacovey/Code/treesweaters/source/stylesheets/all.css.sass */
body {
  font-family: "Didact Gothic", sans-serif;
  font-size: 16px; }

/* line 9, /Users/jessicacovey/Code/treesweaters/source/stylesheets/all.css.sass */
.pacifico {
  font-family: Pacifico; }

/* line 12, /Users/jessicacovey/Code/treesweaters/source/stylesheets/all.css.sass */
.carrois {
  font-family: "Carrois Gothic SC", sans-serif; }

/* line 15, /Users/jessicacovey/Code/treesweaters/source/stylesheets/all.css.sass */
.didact {
  font-family: "Didact Gothic", sans-serif; }

/* line 22, /Users/jessicacovey/Code/treesweaters/source/stylesheets/all.css.sass */
.x2 {
  font-size: 2em; }

/* line 25, /Users/jessicacovey/Code/treesweaters/source/stylesheets/all.css.sass */
.x3 {
  font-size: 3em; }

/* line 28, /Users/jessicacovey/Code/treesweaters/source/stylesheets/all.css.sass */
.x4 {
  font-size: 4em; }

/* line 31, /Users/jessicacovey/Code/treesweaters/source/stylesheets/all.css.sass */
.x5 {
  font-size: 5em; }

/* line 34, /Users/jessicacovey/Code/treesweaters/source/stylesheets/all.css.sass */
.x6 {
  font-size: 6em; }

/* line 40, /Users/jessicacovey/Code/treesweaters/source/stylesheets/all.css.sass */
.blue-text {
  color: #80f7ff; }

/* line 43, /Users/jessicacovey/Code/treesweaters/source/stylesheets/all.css.sass */
.guava-text {
  color: #ff8880; }

/* line 46, /Users/jessicacovey/Code/treesweaters/source/stylesheets/all.css.sass */
.pink-text {
  color: #ff80b7; }

/* line 49, /Users/jessicacovey/Code/treesweaters/source/stylesheets/all.css.sass */
.white-text {
  color: #fff; }

/* line 55, /Users/jessicacovey/Code/treesweaters/source/stylesheets/all.css.sass */
.blue-bg {
  background-color: rgba(62, 0, 129, 0.19); }

/* line 58, /Users/jessicacovey/Code/treesweaters/source/stylesheets/all.css.sass */
.light-tan-bg {
  background-color: #ffdcad; }

/* line 61, /Users/jessicacovey/Code/treesweaters/source/stylesheets/all.css.sass */
.tan-bg {
  background-color: #ffc880; }

/* line 64, /Users/jessicacovey/Code/treesweaters/source/stylesheets/all.css.sass */
.guava-bg {
  background-color: #ff8880; }

/* line 67, /Users/jessicacovey/Code/treesweaters/source/stylesheets/all.css.sass */
.pink-bg {
  background-color: #ff80b7; }

/* line 73, /Users/jessicacovey/Code/treesweaters/source/stylesheets/all.css.sass */
.mt15 {
  margin-top: 10px; }

/* line 76, /Users/jessicacovey/Code/treesweaters/source/stylesheets/all.css.sass */
.mt30 {
  margin-top: 30px; }

/* line 79, /Users/jessicacovey/Code/treesweaters/source/stylesheets/all.css.sass */
.mt60 {
  margin-top: 60px; }

/* line 82, /Users/jessicacovey/Code/treesweaters/source/stylesheets/all.css.sass */
.mb15 {
  margin-bottom: 15px; }

/* line 85, /Users/jessicacovey/Code/treesweaters/source/stylesheets/all.css.sass */
.mb30 {
  margin-bottom: 30px; }

/* line 88, /Users/jessicacovey/Code/treesweaters/source/stylesheets/all.css.sass */
.mb60 {
  margin-bottom: 60px; }

/* line 94, /Users/jessicacovey/Code/treesweaters/source/stylesheets/all.css.sass */
.pt15 {
  padding-top: 10px; }

/* line 97, /Users/jessicacovey/Code/treesweaters/source/stylesheets/all.css.sass */
.pt30 {
  padding-top: 30px; }

/* line 100, /Users/jessicacovey/Code/treesweaters/source/stylesheets/all.css.sass */
.pt60 {
  padding-top: 60px; }

/* line 103, /Users/jessicacovey/Code/treesweaters/source/stylesheets/all.css.sass */
.pb15 {
  padding-bottom: 15px; }

/* line 106, /Users/jessicacovey/Code/treesweaters/source/stylesheets/all.css.sass */
.pb30 {
  padding-bottom: 30px; }

/* line 109, /Users/jessicacovey/Code/treesweaters/source/stylesheets/all.css.sass */
.pb60 {
  padding-bottom: 60px; }

/* line 115, /Users/jessicacovey/Code/treesweaters/source/stylesheets/all.css.sass */
.full-width {
  width: 100%; }

/* line 121, /Users/jessicacovey/Code/treesweaters/source/stylesheets/all.css.sass */
.main-section {
  background-image: url(https://download.unsplash.com/photo-1434145175661-472d90344c15);
  background-position: center center;
  background-size: cover;
  min-height: 820px; }
