.main-section
  .container
    %h1.pacifico.guava-text.text-center.x6.pt60.pb60 TreeSweaters

.container.pt60.pb60

  .row.mt60.mb60  
    .col-sm-9
      .pacifico.pink-text.x3.mb30 Sometimes Trees Get Cold
      %p Lorem ipsum slipsum insum.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      %p Lorem ipsum slipsum insum.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .col-sm-3
      %img.img-responsive.full-width{src: 'https://scontent.cdninstagram.com/hphotos-xfp1/t51.2885-15/e15/10727730_747800935333198_1006353195_n.jpg'}

  .row.mt60.mb60 
    .col-sm-3
      %img.img-responsive.full-width{src: 'https://scontent.cdninstagram.com/hphotos-xfp1/t51.2885-15/e15/10431993_369291073263009_1764416189_n.jpg'}   
    .col-sm-9
      .pacifico.pink-text.x3.mb15 Tree Sweaters for Cool Peeps
      %p Lorem ipsum slipsum insum.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      %p Lorem ipsum slipsum insum.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

.pink-bg.pt60.pb60  
  .container.text-center      
    .pacifico.blue-text.text-center.x6.mb60 Lots of Feel Good Options
    .row.mt60.mb60  
      .col-sm-6
        %img.img-responsive.full-width{src: 'https://scontent.cdninstagram.com/hphotos-xfp1/t51.2885-15/e15/1172995_544837605601459_2081635052_n.jpg'} 
        %p.mt15.blue-text.x2 fuzzy knit sure to ball
      .col-sm-6
        %img.img-responsive.full-width{src: 'https://scontent.cdninstagram.com/hphotos-xap1/t51.2885-15/e15/11189412_1129333847092540_320854597_n.jpg'} 
        %p.mt15.blue-text.x2 fluffy but not puffy fluffy
  
    .row.mb30        
      .col-sm-6
        %img.img-responsive.full-width{src: 'https://scontent.cdninstagram.com/hphotos-xpa1/t51.2885-15/e15/11084998_647084282088440_105692853_n.jpg'} 
        %p.mt15.blue-text.x2 silky for that smooth warmth
      .col-sm-6
        %img.img-responsive.full-width{src: 'https://scontent.cdninstagram.com/hphotos-xpf1/t51.2885-15/e15/10009922_1493737377516263_1409674852_n.jpg'} 
        %p.mt15.blue-text.x2 patchy just for spots and knots

.light-tan-bg.pt60.pb60  
  .container
    .row
      .col-sm-8.col-sm-offset-2
        .pacifico.guava-text.x2.mb15 Gnomes and Elves Ready to Knit
        %p Lorem ipsum slipsum insum.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        